{{>header}}
	
<body>
	<label>Inscripción a cursos</label>
	<form style="margin-top: 40px; background: rgb(0, 0, 0 , 0.4); ">
  		<div class="row">
    		<div class="col">
    			<div class="form-group">
    				<label>Documento de identidad</label>
    				<input type="text" class="form-control" placeholder="documento de identidad">
  				</div>

				<div class="form-group">
    				<label>Nombre</label>
    				<input type="text" class="form-control" placeholder="Nombre">
  				</div>

  				<div class="form-group">
    				<label>Nombre del curso</label>
    				<select class="form-control">
      				<option>Presencial</option>
      				<option>Virtual</option>
    			</select>
  		</div>
	</div>

    <div class="col">
       	<div class="form-group">
       		<label>email</label>
    		<input type="text" class="form-control" placeholder="ejemplo@email.co">
  		</div>

  		<div class="form-group">
  			<label>Telefono</label>
    		<input type="number" class="form-control" placeholder="Telefono">
  		</div>
  		</div>
    </div>
</div>
</form>


</body>

{{>footer}}