{{>header}}
<body>
	<form method="post" action="/respuesta" style="margin-top: 20px; background: rgb(0, 0, 0 , 0.4); ">
         {{{mostrarTodos}}}
         <button type="submit" class="btn btn-primary">buscar</button> 
	</form>
	
</body>
{{>footer}}